@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="container-fluid bg-theme-dark pt-5 body-footer position-relative">
    <div class="container-lg">
        <div class="d-flex justify-content-between overflow-hidden">
            <div class="container-footer">
                <img class="mb-4" src="./content/logs/Logo-white.png" alt="crito company">
                <p class="link-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div>
                <a class="header-link-footer" href="">Company</a>
                <a class="link-footer" href="">About</a>
                <a class="link-footer" href="">Features</a>
                <a class="link-footer" href="">Works</a>
                <a class="link-footer" href="">Cereer</a>
            </div>
            <div>
                <a class="header-link-footer" href="">Help</a>
                <a class="link-footer" href="">Customer Support</a>
                <a class="link-footer" href="">Delivery Details</a>
                <a class="link-footer" href="">Terms & Conditions</a>
                <a class="link-footer" href="">Privacy Policy</a>
            </div>
            <div>
                <a class="header-link-footer" href="">Resources</a>
                <a class="link-footer" href="">Free eBooks</a>
                <a class="link-footer" href="">Development Tutorial</a>
                <a class="link-footer" href="">How To - Blog</a>
                <a class="link-footer" href="">Youtube Playlist</a>
            </div>
            <div>
                <a class="header-link-footer" href="">Link</a>
                <a class="link-footer" href="">Free eBooks</a>
                <a class="link-footer" href="">Development Tutorial</a>
                <a class="link-footer" href="">How To - Blog</a>
                <a class="link-footer" href="">Youtube Playlist</a>
            </div>
            <img class="img-footer" src="./content/vectors/Vector-footer.png" alt="style">
        </div>
    </div>
</div>

<div class="container-fluid bg-theme-dark body-footer position-relative">
    <hr class="m-0"/>
    <div class="d-flex container-lg justify-content-between py-4">
        <div>
            <p class="link-footer">© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
        </div>
        <div>
            <a class="socials-footer" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="socials-footer" href=""><i class="fa-brands fa-twitter"></i></a>
            <a class="socials-footer" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="socials-footer" href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>