@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="container-fluid bg-theme">
    <div class="d-flex justify-content-center py-5">
        <p class="font-dans weight-bold size-xl me-5">Get News Updates By Signup</p>
        <input class="input-base me-2" type="text" placeholder="username@domain.com" />
        <button class="btn-theme border-0" type="submit">Subscribe</button>
    </div>
</div>