@import '../styles/core/variables.scss';
@import '../styles/core/base.scss';
@import '../styles/core/mixins.scss';


.link-nav-active {
    position: relative;
    display: inline-block;
    font-weight: $font-weight-bold!important;
    text-decoration: none;
}

.link-nav-active::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    bottom: 0;
    border-bottom: 2px solid $color-text;
    border-radius: 2px;
}

.body-nav {
    .header-img {
        margin-right: 2rem;
        height: 50px;
    }

    .contact-nav {
        color: $color-text;
        font-size: 15px;
        font-family: $font-Inter;
        font-weight: $font-weight-light;
        text-decoration: none;
        margin-left: 1rem;
        padding-right: 1rem;
        border-right: 1px solid $color-text;
        padding-top: .3rem;
        padding-bottom: .3rem;

        &:nth-child(3) {
            border: none;
        }
    }

    .socials-nav {
        color: $color-text;
        font-size: 15px;
        margin-right: .4rem;
    }

    .link-nav {
        color: $color-text;
        font-size: 15px;
        font-family: $font-Inter;
        font-weight: $font-weight-light;
        text-decoration: none;
        margin-left: 1rem;
    }
}

.body-footer {
    overflow:hidden!important;
    .header-link-footer {
        display: block;
        font-family: $font-DM;
        font-weight: $font-weight-bold;
        font-size: 22px;
        color: white;
        margin-bottom: 2rem;
        text-decoration: none;
    }

    .link-footer {
        display: block;
        font-size: 16px;
        font-family: $font-Inter;
        font-weight: $font-weight-regular;
        color: rgba(255, 255, 255, .5);
        margin-bottom: .6rem;
        text-decoration: none;
    }
    .container-footer {
        width: 300px;
    }

    .socials-footer {
        color: white;
        font-size: 15px;
        margin-right: .7rem;
    }

    .company-footer {
        border-top: 1px solid rgba(255, 255, 255, .5);
    }

    .img-footer {
        position: absolute;
        bottom: -81px;
        right: -106px;
        transform: rotate(4deg);
    }
}

.feature-item-grid {

    .umb-block-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
} 


.service-item {

    .umb-block-list {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

.review-item-container {


    .umb-block-list {
        display: flex;
        gap: 4rem;
        flex-direction: row!important;
        justify-content: space-between;
    }
}

.about-company-image-desc {
    background-color: #BEEBFF;
    padding: 2rem;
    position: absolute;
    bottom: 50px;
    left: -50px;
}

.why-us-bg {
    height: 425px;
    width: 1060px;
    position: absolute;
    right: 0;
    bottom: -77px;
}

.review-item-person-img {
    width: 70px;
    height: auto;
    border-radius: 50%;
}
.reviewstar {
    color: #F94D1C;
}
