@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,400;9..40,500;9..40,700&family=Inter:wght@300;400;600;700&display=swap");
html, body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  color: #191919;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #191919; }

.landing-title {
  font-size: 96px !important; }

.section-title {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500; }

.bg-theme {
  background-color: #f0efe9; }

.bg-theme-dark {
  background-color: #0e1021; }

.bg-theme-grey {
  background-color: #f0efe9; }

.bg-theme-yellow {
  background-color: #F0D082; }

.font-dans {
  font-family: "DM Sans", sans-serif; }

.font-inter {
  font-family: "Inter", sans-serif; }

.weight-bold {
  font-weight: 700; }

.weight-regular {
  font-weight: 500; }

.weight-light {
  font-weight: 400; }

.size-xl {
  font-size: 45px; }

.btn-theme {
  color: #191919;
  background-color: #f9d783;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: 50px;
  border: 0; }
  .btn-theme:hover {
    background-color: white; }

.btn-theme-sec {
  color: #191919;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: 50px;
  border: 1px solid #191919; }
  .btn-theme-sec:hover {
    background-color: #f9d783; }

.btn-theme-black {
  color: white;
  background-color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 1rem;
  border-radius: 50px;
  border: none !important;
  outline: none; }
  .btn-theme-black:hover {
    background-color: #f9d783; }

.project-btn {
  color: #191919;
  background-color: transparent !important;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border: none;
  outline: none;
  margin-top: 1rem; }

.input-base {
  padding: 1rem;
  border-radius: 50px;
  border: none; }

.contact-icon-bg {
  background-color: #0e1021;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.link-nav-active {
  position: relative;
  display: inline-block;
  font-weight: 700 !important;
  text-decoration: none; }

.link-nav-active::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  bottom: 0;
  border-bottom: 2px solid #191919;
  border-radius: 2px; }

.body-nav .header-img {
  margin-right: 2rem;
  height: 50px; }

.body-nav .contact-nav {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #191919;
  padding-top: .3rem;
  padding-bottom: .3rem; }
  .body-nav .contact-nav:nth-child(3) {
    border: none; }

.body-nav .socials-nav {
  font-size: 15px;
  margin-right: .4rem; }

.body-nav .link-nav {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin-left: 1rem; }

.body-footer {
  overflow: hidden !important; }
  .body-footer .header-link-footer {
    display: block;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 2rem;
    text-decoration: none; }
  .body-footer .link-footer {
    display: block;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: .6rem;
    text-decoration: none; }
  .body-footer .container-footer {
    width: 300px; }
  .body-footer .socials-footer {
    color: white;
    font-size: 15px;
    margin-right: .7rem; }
  .body-footer .company-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .body-footer .img-footer {
    position: absolute;
    bottom: -81px;
    right: -106px;
    transform: rotate(4deg);
    pointer-events: none !important;
    user-select: none !important; }

.feature-item-grid .umb-block-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; }

.service-item .umb-block-list {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between; }

.review-item-container .umb-block-list {
  display: flex;
  gap: 4rem;
  flex-direction: row !important;
  justify-content: space-between; }

.contactinfo-items .umb-block-list {
  margin: 2rem 0;
  display: flex;
  gap: 4rem;
  flex-direction: row !important;
  justify-content: center; }

.about-company-image-desc {
  background-color: #BEEBFF;
  padding: 2rem;
  position: absolute;
  bottom: 50px;
  left: -50px; }

.why-us-bg {
  height: 425px;
  width: 1060px;
  position: absolute;
  right: 0;
  bottom: -77px; }

.review-item-person-img {
  width: 70px;
  height: auto;
  border-radius: 50%; }

.member-item-img {
  width: 300px;
  height: auto; }

.reviewstar {
  color: #F94D1C; }

.pagination-btn {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid #191919;
  margin-right: 5px; }
  .pagination-btn:hover {
    background-color: #0e1021;
    color: white; }

.pagination-btn-active {
  background-color: #0e1021;
  color: white; }

.info-card-icon {
  background-color: #0e1021;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 0; }

.article-body {
  max-width: 420px; }
  .article-body .article-img {
    width: 100%; }

.article-devider {
  color: #F9D783;
  font-size: 10px !important; }

.article-search-input {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  margin: 0 0 0 1rem;
  outline: none;
  border: none; }

.landing-img {
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none !important;
  user-select: none !important; }

.newsletter-img {
  position: absolute;
  bottom: -28px;
  right: -45px;
  pointer-events: none !important;
  user-select: none !important; }
